<!DOCTYPE html>
<html>
    <head>
        <title>OCONNECT LMS</title>
      </head>
      <body>
          <iframe src="/course/<%=launch_url%>?endpoint=<%=endpoint%>&fetch=<%=fetch%>&actor=<%=actor%>&registration=<%=registration%>&activityId=<%=activityId%>" width="100%" height="768"></iframe>
      </body>
</html>